# Ignore all __pycache__ directories and their contents

__pycache__/
# Ignore other unnecessary files
.pytest_cache
.venv/
media/
migrations/
staticfiles/
# Include default media files (if needed)
db.sqlite3